{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}Editar Post|{{post.title}}{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


<!-- MAIN -->
<!-- main content -->
{% block content %}

<div class="container mx-auto">
  <form class="flex justify-center px-6 my-12" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    {{hidden_field.errors}}
    {{hidden_field}}
    {% endfor %}
    <div class="w-full xl:w-3/4 lg:w-11/12 flex">
      {% if bodypost.imagen %}
      <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
        style="background-image: url('{{bodypost.imagen.url}}')" alt="{{post.banner}}"></div>
      {% else %}
      <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
        style="background-image: url('')" alt=""></div>
      {% endif %}
      <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
        <h3 class="pt-4 text-2xl text-center">Editar contenido del artículo</h3>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold text-gray-700">
            Contenido
          </label>
          {{form.body}}
        </div>
        <div class="mb-4 md:flex md:justify-between">
          <div class="mb-4 md:mr-2 md:mb-0">
            <label class="block mb-2 text-sm font-bold text-gray-700">
              Imagen
            </label>
            {{form.imagen}}
          </div>
          <div class="md:ml-2">
            <label class="block mb-2 text-sm font-bold text-gray-700">
              Categoria
            </label>
            {{form.type}}
          </div>
        </div>

        <a href="{% url 'social:post-detail' object.post.pk %}"
          class="mt-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-lg font-medium rounded dark:text-dark-txt text-green-700 dark:bg-dark-second bg-green-100 dark:hover:bg-dark-third hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-green-500">
          Retroceder
        </a>
        <button type="submit"
          class="mt-4 inline-flex float-right items-center px-2.5 py-1.5 border border-transparent text-lg font-medium rounded dark:text-dark-txt text-green-700 dark:bg-dark-third bg-green-100 dark:hover:bg-dark-third hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-green-500">
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}


<!-- FOOTER -->
{% block footer %}
{% include 'components/footer.html' %}
{% endblock footer %}


{% block javascript %}{% endblock javascript %}