{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}Editar Perfil|{{user.username}}{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


<!-- MAIN -->
<!-- left sidebar -->


<!-- main content -->
{% block content %}

{% endblock content %}

<!-- right content -->


<!-- FOOTER -->
{% block footer %}

{% endblock footer %}


{% block javascript %}{% endblock javascript %}