{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}
{% load humanize %}
{% block title %}Categoria | {{query}}{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block sidebarleft %}

{% include 'pages/social/sidebarleft.html' %}
{% endblock sidebarleft %}

<!-- main content -->

{% block content %}
<main class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">

  <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
    {% for post in categories_list %}
    <div class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm">
      <a href="{% url 'social:post-detail' post.pk %}"><img src="{{post.banner.url}}" class="object-cover w-full h-64"
          alt="{{post.title}}" /></a>
      <div class="p-5 border border-t-0">
        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">

          <span class="text-gray-600 flex justify-start items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(75, 85, 99, 1);transform: ;msFilter:;"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path></svg> {{post.create_on|naturalday }}</span>
        </p>
        <a href="{% url 'social:post-detail' post.pk %}" aria-label="Category" title="Visit the East"
          class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">{{post.title|truncatechars:30}}</a>
        <p class="mb-2 text-gray-700">
          {{post.description|truncatechars:100}}
        </p>
        <div class="flex items-center">
          <a href="{% url 'users:profile' username=post.author.username %}" aria-label="Author" title="Author"
            class="mr-3">
            <img src=" {{post.author.profile.pinture.url}}" alt="{{post.author}}"
              class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="{% url 'users:profile' username=post.author.username %}" aria-label="Author" title="Author"
              class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400 capitalize">{{post.author}}</a>
            <p class="text-sm font-medium leading-4 text-gray-600">Autor</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between ">


      {% if categories_list.has_previous %}
      <form action="{% url 'social:category-search' %}" method="GET">
        <input type="hidden" name="query" value="{{query}}" placeholder="Buscar por categoria">
        <input type="hidden" name="page" value="{{categories_list.previous_page_number}}"
          placeholder="Buscar por categoria">
        <button type="submit" class="">

          <span
            class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
              <path d="m5 12 7 6v-5h6v-2h-6V6z"></path>
            </svg>Página anterior</span>
        </button>
      </form>
      {% endif %}

      <div class=" hidden flex-col md:block">
        <div class="justify-center text-center flex items-center  rounded-full text-white bg-green-500">
          <span class="p-1">
            {{categories_list.number}}
          </span>
        </div>
        <span class="p-1 text-center">
          Página actual
        </span>
      </div>


      {% if categories_list.has_next %}
      <form action="{% url 'social:category-search' %}" method="GET">
        <input type="hidden" name="query" value="{{query}}" placeholder="Buscar por categoria">
        <input type="hidden" name="page" value="{{categories_list.next_page_number}}"
          placeholder="Buscar por categoria">
        <button type="submit" class="">
          <span
            class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">Siguiente
            página<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
              <path d="m19 12-7-6v5H6v2h6v5z"></path>
            </svg></span>
        </button>
      </form>
      {% endif %}
    </div>

  </div>
</main>
{% endblock content %}




<!-- FOOTER -->
{% block footer %}
{% include 'components/footer.html' %}
{% endblock footer %}


{% block javascript %}{% endblock javascript %}